# **Requisitos**

### Requisitos de Hardware
- **CPU**: Intel Core i3; i5; i7-9700K @ 2.40; 3.60GHz
- **Memória RAM**: 4; 8; 16 GB
- **Espaço em Disco**: 250; 500 GB SSD
- **GPU**: NVIDIA GeForce GTX 1660 (opcional)


### Requisitos de Software
- **Sistema Operacional**: Windows 10

Bibliotecas e ferramentas necessárias para executar o projeto:
* **- dependencies:**
  - **python**==3.11.4
  - **Anaconda**: 2.6.1
  - **VSCode**: 7.0.8

- **Bibliotecas, Pacotes e Extensões**:
  - pandas==2.0.3
  - plotly==5.17.0
  - numpy==1.24.4
  - matplotlib==3.3.2
  - seaborn==0.13.2
  - scikit-learn==1.3.2
  - Imbalanced-learn==0.12.3
  - folium==0.14.0
  - pip==23.0.1
  - pip:
      - some_pip_package


# Instruções passo a passo sobre como instalar as dependências:

## Usando a imagem base do Windows:
FROM mcr.microsoft.com/windows/servercore:ltsc2022

## Instala dependências de sistema:
RUN powershell -Command \
    Set-ExecutionPolicy Bypass -Scope Process -Force; \
    [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12; \
    Invoke-WebRequest -Uri https://aka.ms/vs/17/release/vs_buildtools.exe -OutFile vs_buildtools.exe; \
    Start-Process -Wait -FilePath .\vs_buildtools.exe -ArgumentList '--quiet', '--wait', '--norestart', '--nocache', '--installPath', 'C:\BuildTools', '--add', 'Microsoft.VisualStudio.Workload.VCTools'; \
    Remove-Item -Force vs_buildtools.exe

## Baixa e instala o Anaconda:
RUN powershell -Command \
    Invoke-WebRequest -Uri https://repo.anaconda.com/archive/Anaconda3-2023.03-Windows-x86_64.exe -OutFile anaconda.exe; \
    Start-Process -Wait -FilePath .\anaconda.exe -ArgumentList '/InstallationType=JustMe', '/RegisterPython=0', '/S', '/D=C:\Anaconda3'; \
    Remove-Item -Force anaconda.exe; \
    & 'C:\Anaconda3\Scripts\conda.exe' init; \
    & 'C:\Anaconda3\Scripts\conda.exe' clean -ya

## Adiciona o Anaconda ao PATH:
ENV PATH C:\Anaconda3;C:\Anaconda3\Scripts;C:\Anaconda3\Library\bin;C:\Anaconda3\Library\usr\bin;C:\Anaconda3\Library\mingw-w64\bin;C:\Anaconda3\Library\bin;C:\Anaconda3\Scripts\:$PATH

## Configura o diretório de trabalho:
WORKDIR /app

## Copia o environment.yml para o container:
COPY environment.yml .

## Instala as dependências listadas no environment.yml:
RUN powershell -Command \
    & 'C:\Anaconda3\Scripts\conda.exe' env create -f environment.yml

## Ativa o ambiente ao iniciar o container:
SHELL ["cmd", "/S", "/C", "conda activate myenv && cmd"]

## Copia o conteúdo do diretório atual para o container:
COPY . .

## A porta que o Jupyter Notebook usa:
EXPOSE 8888

## Iniciar o Jupyter Notebook:
CMD ["cmd", "/S", "/C", "conda activate myenv && jupyter notebook --ip=0.0.0.0 --no-browser --allow-root"]

